* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgb(250, 250, 250);
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

/*********************************/
/********** MAIN NAVBAR **********/
/*********************************/

.nav-wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid rgb(219, 219, 219);
  position: fixed;
  width: 100%;
}

.nav-whitespace {
  height: 114px;
}

.navbar-container {
  max-width: 612px;
  margin: auto;
  padding: 0;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
}

.navbar-icons-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.miao-logo {
  width: 60px;
}

.searchbar {
  text-align: center;
  padding: 3px 10px 3px 10px;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  border: solid 1px rgb(219, 219, 219);
  border-radius: 3px;
  color: rgb(38, 38, 38);
  background: rgb(250, 250, 250);
}

.navbar-home:hover {
  cursor: pointer;
}

.profile-pic-container-navbar {
  width: 22px;
  height: 22px;
  margin-left: 22px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-pic-outlined {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgb(38, 38, 38);
}

.profile-pic:hover {
  cursor: pointer;
}

/*******************************/
/********** MAIN BODY **********/
/*******************************/

.main-wrapper {
  max-width: 612px;
  margin: auto;
}

.main-container {
  padding-top: 0px;
  margin-bottom: 60px;
}

article {
  border: 1px solid rgb(219, 219, 219);
  background: #ffffff;
}

.postheader {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding-left: 16px;
  align-items: center;
}

.username-container {
  margin-left: 14px;
  font-weight: bold;
  font-size: 14px;
}

.profile-pic-container {
  width: 32px;
  height: 32px;
}

.postimage-container {
  max-width: 612px;
  max-height: 766px;
  overflow: hidden;
}

.postimage {
  max-width: 100%;
  max-height: 100%;
}

.reactions-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.likes-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.likes-container:hover {
  cursor: pointer;
}

.dislikes-container {
  padding-left: 16px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dislikes-container:hover {
  cursor: pointer;
}

.fish-icon {
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

.poop-icon {
  height: 23px;
  width: 23px;
  margin-right: 8px;
}

.reaction-count {
  display: inline-block;
  color: #8e8e8e;
  font-size: 12px;
}

.description-container {
  height: 18px;
}

.post-description {
  margin-left: 8px;
}

.comment-list-container {
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}

.comment-list-item {
  height: 18px;
}

.comment-list-user {
  font-weight: bold;
  margin-right: 8px;
}

.timestamp {
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  font-size: 11px;
  color: #8e8e8e;
  height: 18px;
  margin: 4px 0px;
}

.comment-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  border-top: solid 1px rgb(219, 219, 219);
}

.comment-form {
  display: grid;
  grid-template-columns: 19fr 1fr;
  height: 19px;
  max-height: 80px;
}

.comment-text {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  border-style: none;
  resize: none;
}

.comment-button {
  border-style: none;
  background: #ffffff;
  font-weight: bold;
  color: rgb(0, 149, 246);
}

.comment-button:hover {
  cursor: pointer;
}
